In [7]:
import numpy as np
import pandas as pd
import matplotlib as mp

## loading data
ma_ex = pd.read_csv('C:\\Users\\Naul\\Desktop\\개인연구\\online courses\\MA_exam_csv.csv')

ma_ex.head()

       Date   Sales
0  1-1-2009   7,855
1  1-2-2009  12,329
2  1-3-2009  11,617
3  1-4-2009   7,684
4  1-5-2009   8,448